DB_DRIVER=driverku
DB_CONNECTION="postgres://user:pass@host:port/dbname?sslmode=disable"
SERVER_PORT=0000
# "panic" / "fatal" / "error" / "warn" / "info" / "debug" / "trace"
LOG_LEVEL=info

ACCESS_TOKEN_KEY=sampleaccesskey
REFRESH_TOKEN_KEY=samplerefreshkey
ACCESS_TOKEN_DURATION=0m
REFRESH_TOKEN_DURATION=0h

CLOUDINARY_CLOUD_NAME=mycloudname
CLOUDINARY_API_KEY=myapikey
CLOUDINARY_API_SECRET=myapisecret
CLOUDINARY_UPLOAD_FOLDER=myuploadfolder
